@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

 h1{
    font-family: "Rubik", sans-serif;
    font-size: 96px;
    line-height: 114px;
    letter-spacing: 0.72px;
    
}
h3{
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    line-height: 57px;
    text-align: left;
}
h6{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}
H5{
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.18px;
    color: #0C231761;
    margin-bottom: 0;
    transition: all .3s ease;
}

.service-container{
    width: 100%;
    padding: 0 3.75%;
    height: initial;
    max-width: 1280px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
}
.topPad{
    padding-top: 20vh;
}
.footer-service{
    /* height:90vh; */
    margin: auto;
    max-width: 1280px; 
    padding-top: 10%;
    overflow: hidden;
    background-color: #0C2317;
}
/* .footer-service .footer{
    transform: translateY(-10%);

} */
.services{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top-services{
    display: flex;
    margin-bottom: 16px;
}

.servLeft{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    flex: 4;
    z-index: 1;
}
.servLeft>div{
    width: 65%;
}
.servLeft h1{
    /* font-family: "Rubik", sans-serif;
    font-size: 96px;
    line-height: 114px;
    letter-spacing: 0.72px;
    color: #092628; */
    color: #092628;
    margin-bottom: 20px;
    white-space: nowrap;
}
.servLeft p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #0C231799;
}
.servRight{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servRight a{
    padding-bottom: 20px;
    visibility: hidden;
}
.plant{
    width: 150px;
    height: 150px;
    /* width: 349px;
    height: 349px; */
}
.bottom-services{
    display: flex;
    padding-bottom: 80px;

}

.icons{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
/* .icons>div{
    display: flex;
    flex: 1;
    justify-content: flex-start;
} */
.icons .icon{
    height: 56px;
    width: 56px;
    margin-bottom: 25px;
}
.icon img{
    width: 100%;
}
.icon-name{
    display: flex;
    justify-content: space-between ;
}
.icons-tab{
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.dots{
    color: #0C231761;
    margin-bottom: 30px;
    padding: 0 4%;
}
.icons-tab h3{
    font-family: "Rubik";
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px;
    color: #0C231761;
    position: absolute;
    top: 80px;
    width: 150px;
    text-align: center;
}
.bottom-services>.servRight{
    justify-content: flex-end;
}

.service-2nd,
.service-4nd,
.service-3nd{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5vh 0; */
    padding-bottom: 5%;
    padding-top: 5%;
}
.service-2nd .one{
    display: flex;
    justify-content: center;
    flex: 1.8;
    /* padding: 0 5%; */
}
.serviceImg1{
    width: 620px;
}
.serviceImg2{
    width: 588px;
}
.serviceImg3{
    width: 502px;
    margin-right: 10%;
}
.service-2nd .two,
.service-4nd .two,
.service-3nd .two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
.service-2nd .two{
    padding: 2% 5% 2% 0;

}
.service-3nd .two{
    padding: 2% 10% 2% 10%;

}
.service-4nd .two{
    padding: 2% 10% 2% 10%;
    width: 30%;
}
.two h3{
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    line-height: 57px;
    text-align: left;
}
.two h6{
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}
.two>p{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #0C231799;
    margin-bottom: 16px;
}
.two .text p{
    margin-top: 18px;
}
.service-nd{
    background-color: #FAFAFA;
    height: 100%;
    max-width: 1280px;
    padding:5% 3.75%;
}
.top-head{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    /* padding: 21px 0 !important; */
    padding-left: 5%;
}
.top-head h3{
    margin-bottom: 0;
}
.top-triangle{
    line-height: 57px;
}
.trianglePng{
    width: 31px;
    margin-left: 10px;
    margin-top: 20px;
}
.bot-head{
    display: flex;
    position: relative !important;
    overflow: hidden;
}
.iner-hover-1,
.iner-hover-2,
.iner-hover-3,
.iner-hover{
    position: absolute;
    padding: 1% 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* background-color: rgba(255, 255, 255, 0.2); */
    z-index: 1;
    /* overflow: hidden; */
}
.iner-hover{
    top: 25%;
    left: 10%;
    justify-content: flex-start;
    width: 43%;
    /* height: 550px; */
    height: 50%;
}
.iner-hover-1{
    top: 17%;
    right: 2%;
    justify-content: flex-end;
    width: 47%;
    /* height: 430px; */
    height: 65%;
}
.iner-hover-2{
    justify-content: flex-start;
    top: 20%;
    left: 10%;
    width: 45%;
    height: 70%;
}
.iner-hover-3{
    justify-content: flex-end;
    top: 15%;
    right: 3%;
    width: 45%;
    height: 70%;
}
.iner-hover-1::after,
.iner-hover-2::after,
.iner-hover-3::after,
.iner-hover::after{
    content: "";
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("../images/pointilism.png");
    background-position: center;
    opacity: .6;
    background-size: cover;
    position: absolute;
    z-index: -1;

}
.iner-hover::after{
    bottom: 0;
    transform: translateX(-10%);
}
.iner-hover-1::after{
    top: 0;
    transform: translateX(10%);
}
.iner-hover-2::after{
    bottom: 0;
    transform: translateX(-20%);
}
.iner-hover-3::after{
    top: 0;
    transform: translateX(10%);
}
.text-hover h6{
    cursor: pointer;
    transition:all 0.3s ease;
    position: relative;
}

/* .text-hover h6::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000000ff;
    position: absolute;
    left: 0;
    bottom: -2px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s ease;
} */

.text-hover h6:hover{
    color: #27BA70;
}

.iner-hover-1 h6,
.iner-hover-2 h6,
.iner-hover-3 h6,
.iner-hover h6{
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 20px;
}
.iner-hover-1 p,
.iner-hover-2 p,
.iner-hover-3 p,
.iner-hover p{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: pre-line;
    color: #0C231799;
    /* opacity: 0.6 !important; */
}
.iner-hover-2 .bold-p{
    color: #0C2317;
}
.iner-hover-2 .bold-p::first-letter{
    font-size: 30px;
}
.left-tabs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 94px; */
    padding: 5%;
    flex: 1;
}

.left-tab .icon{
    width: 35px;
    height: 35px;
    margin-right: 41px;
}
.left-tab {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    cursor: pointer;
    /* margin-bottom: 40px; */
}

.left-tab h5{
    margin-top: 5px;
}


.left-tab:hover h5{
    color: #27BA70;

}
.right-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    padding: 15% 5%;
}
.right-tabs .cover{
    width: 100%;
    height: 100%;
    opacity: .3;
}
.tab-wraper{
    width: 40%;
    position: absolute;
    top: 15%;
    left: 35%;
    z-index: 1;
    background-color: #FAFAFA;
}
.serviceImg4{
    aspect-ratio: 21/9;
    object-fit: cover;
    object-position: center;
}
.tab-head{
    display: flex;
    /* margin-top: 16px; */
    padding: 16px;
}
.head-name h6{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 0;
    margin: 5px 0;
}
.head-name p{
    font-size: 14px;
    line-height: 17px;
    color: #0C231799;
}
.head-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 40px;
}
.user{
    width: 19px;
}
.tab-text{
    padding: 16px 16px;
}
.tab-text p{
    color: #0C231799;
    font-style: italic;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 30px;

}

/* Tabs */
.tabs-section{
    padding: 40px 3.75%;
    max-width: 1776px;
    margin: auto;
    background-color: #FAFAFA;
}
.tab-list {
    padding-left: 40%;

}

.tab-list-item {
    display: inline-block;
    font-weight: 600;
    background-color: #ccc;
    list-style: none;
    margin-bottom: -1px;
    margin-right: 20px;
    padding: 0.5rem 2rem;
    border-radius: 7px 7px 0 0 ;
    cursor: pointer;
}

.tab-list-active {
    background-color: black;
    color: white;
    border-width: 1px 1px 0 1px;
    transition: all .3s ease;
    border-radius: 7px 7px 0 0 ;
    margin-right: 20px;
    transition: all .3s ease;
}
ol{
    margin-left: 0;
}
ol.tab-list{
    margin-bottom: 0;
}
.tabs{
    padding: 50px;
    /* margin: 30px; */
    border-radius: 20px;
    background-color: #FFFFFF;
}
.tab-content{
    border: 1px solid #ccc;
    padding: 20px 40px;
    border-radius: 5px;
}
.tab-item{
    display: flex;
    padding: 25px 0;
}
.tab-item{
    display: flex;
    flex-wrap: wrap;
}
.tab-item h6{
    /* width: 15%; */
    margin-bottom: 0;
    padding: 15px 25px 15px 0;
}
.langIcon{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.lang-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 70px; */
    margin-right: 5%;

}
.lang-icon img{
    width: auto;
    height: 45px !important;
}
.lang-icon p{
    font-size: 16px;
    padding: 5px 0;
}

@media only screen and (max-width: 1024px){
    .servLeft{
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 5%;
        /* flex-direction: row;
        flex: 1; */

    }
    .dots{
        white-space: nowrap
    }
    .servLeft h1{
        font-size: 84px;
    }
    .servRight{
        display: none;
    }
    .service-2nd,
    .service-4nd,
    .service-3nd{
        flex-direction: column;
        padding: 5% 0;
    }
    .serviceImg1{
        width: 100%;
        object-fit: cover;
        height: 100%;
        /* margin-left: 7.5%; */
    }
    .serviceImg2{
        width: 100%;
        /* margin-left: 7.5%; */
    }
    .serviceImg3{
        width: 100%;
        margin-right: 0%;
    }
    .service-2nd .two{
        width: 85%;
    }
    .service-3nd .two{
        padding: 2% 0 2% 0;;
        width: 85%;
        order: 2;
    }
    .service-3nd .one{
        width: 85%;
    }
    .service-2nd .one{
        justify-content: flex-start;
        width: 85%;
    }
    .service-4nd .two{
        order: 2;
        padding: 2% 7.5%;
        width: 100%;
    }
    .service-4nd .one{
        padding: 2% 7.5%;
        width: 100%;
    }
    .iner-hover-1,
    .iner-hover-2,
    .iner-hover-3,
    .iner-hover{
        width: 85%;
        height: 55%;
        top: 0%;
        left: 7.5%;
        justify-content: center;
    }
    .top-head {
        padding: 0 3.75%;
    }
    .left-tabs{
        padding: 2% 3.5%;
    }
    .left-tab {
        margin-bottom: 0;
    }
    .right-tabs{
        display: none;
    }
    :root .tab-wraper{
        top: 0;
        left: 0;
        width: 60%;
        position: initial;
        transform: translateX(0px) translateY(0px) translateZ(0px) !important;
    }
    /* :root element.style{
        transform: translateY(0%),translateX(0%) !important;
    } */
    .tabs{
        padding: 2% 3.5%;
    }


}
@media only screen and (max-width: 768px){
    .servLeft h1{
        font-size: 48px;
        line-height: 57px;
    }
    .top-triangle{
        display: none;
    }
    .tab-list {
        padding-left: 0;
    }
    /* .dots{
        white-space: nowrap
    } */
}
@media only screen and (max-width: 600px){
    .topPad{
        padding-top: 15vh;
    }
    .servLeft{
        padding: 0;
    }
    .servRight a{
        display: none;
    }
    .icons-tab h3{
        font-size: 13px;
    }
    .dots{
        padding: 0;
        transform: scaleX(.7);
        overflow-x: hidden;
    }
    /* .icons{
        width: 100%;;
    } */
    .servLeft>div{
        width: 85%;
    }
    .icons .icon{
        height: 42px;
        width: 41px;
        margin-bottom: 25px;
    }
    .iner-hover-1,
    .iner-hover-2,
    .iner-hover-3,
    .iner-hover{
        width: 93%;
        top: 0%;
        left: 3.75%;
        overflow-y: scroll;
    }
    .iner-hover{
        height: 39%;
    }
    .iner-hover-1{

        height: 39%;
    }
    .iner-hover-2{
        height: 47%;
    }
    .iner-hover-3{
        height: 48%;
    }
    .service-2nd .one{
        width: 93%;
        padding: 0 3.75;
    }
    .serviceImg1{

        width: 100%;
    }

    .serviceImg2{
        /* margin-left: 3.75%; */
        width: 100%;
    }
    .service-2nd .two{
        width: 93%;
    }
    .service-3nd .one{
        width: 93%;
        padding: 0 3.75;
    }
    .service-3nd .two{
        width: 93%;
    }
    .tab-item{
        flex-direction: column;
    }
    .service-4nd .two{
        order: 2;
        padding: 2% 3.75%;
    }
    .service-4nd .one{
        padding: 2% 3.75%;
    }
    .service-4nd .one img{
        width: 100%;
    }
    .service-nd{
        margin: 15% 0;
    }
    .top-head{
        padding: 0;
    }
    .left-tabs {
        padding: 2% 0%;
    }
    .tabs{
        padding: 2% 0%;
    }
    .tab-wraper{
        width: 100% !important;
    }
}