
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:"Rubik", sans-serif;
    
}
/* Light Mode */
:root {
    --color-background:#FAFAFA;
    --color-text: #0C2317DE;
    --color-primary: #000;
    /* ... more colors */
  }
  
  /* Dark Mode */
  :root.dark {
    --color-background: #092628;
    --color-text: #FFF;
    --color-primary: #fff;
    /* ... more colors */
  }

.container{
    width: 100%;
    height: 100vh;
    max-width: 1776px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
    transform: translateY(0);
}
.wraper{
    /* width: 100%; */
    
    padding: 0 3.75%;
    height: 100%;
    width: 92.5%;
    max-width: 1776px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
    margin: 0 auto;
    transform: translate();
}
.container>section{
    width: 100%;
    padding: 0 3.75%;
    height: 100vh;
    max-width: 1776px;
    margin: auto;
    position: relative;
}
.slide-1{
    background-color: #FAFAFA;
}
.slide-2{
    background-color: #092628;
}
.slide-3{
    background-color: #FAFAFA;
}
.slide-2 .text h1{
    color: #FFFFFF;
}

.triangle{
    position: fixed;
    height: 102px;
    top: 75vh;
    right: 3.75%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.triangle img{
    margin-top: 13px;
    cursor: pointer;
    
}
.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
    height: auto;
    max-width: 1776px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3.75%;
    /* margin: 0 auto; */
    z-index: 100;
    /* transform: translate(0); */
}
.menuIcon{
    position: fixed;
    top: 34px;
    right: 21px;
    width: 22px;
    height:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    z-index: 102;
}
.menuIcon>div{
    width:100%;
    height:2px;
    background: grey;
    border-radius: 5px;
    transition: all .3s ease;
    /* position: relative; */
}
.menuIcon>div.is-active:nth-child(1){
    transform: rotate(45deg) translateY(7px) ;
}
.menuIcon>div.is-active:nth-child(2){
    opacity: 0;
    transform: translateX(-10px);
}
.menuIcon>div.is-active:nth-child(3){
    transform: rotate(-45deg) translateY(-7px) ;
}
/* .menuIcon>div:nth-child(1){
    transform: rotate(0);
}
.menuIcon>div:nth-child(2){
    opacity: 1;
}
.menuIcon>div:nth-child(3){
    transform: rotate(0);
} */
.navigation a{
    font-family: "Rubik",sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--color-text);
    margin-right: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.navigation a.active{
    color: #27BA70;
}
.navigation a:hover{
    color: #27BA70;
}
.navigation a:last-child{
    margin-right: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #27BA70;
}
.logo {
    width: 150px;
    display: flex;
    object-fit: cover;
}
.logo img{
    width: 100%;
    margin-bottom: 0;
}
.partners .img{
    width: 117px;
    height: 47px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-links{
    position: absolute;
    left: 3.75%;
    bottom: 27px;
}
.main-links p{
    font-family: "Rubiko";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
}

.img img{
    width: 100%;
    margin-bottom: 0;
    margin-left: -6px;
}
.linkedin a{  
    display: flex;
    text-decoration: none;
}
.linkedin p{
    font-family: "Rubik";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000000BD;
    align-items: center;
    
}
.linkedin img{
    height: 18px;
    width: 18px;
    margin-bottom: 0;
    margin-right: 11px;
    opacity: .9;
}


/* Main */

/* .main{
    padding-top: 15%;

} */
.main-text{
    display: flex;
    margin-bottom: 0vh;
}
.text h1{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: var(--color-text);
}
.text p{
    font-size: 16px;
    line-height: 19px;
    color: #27BA70;
    border-bottom: 1px solid #27BA70;
}
.main-text>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 50vh;
    align-items: flex-start;
    padding: 0;
}
.lottie{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}


@media only screen and (min-width: 1772px){
    .header{
        padding:30px 66.6px;
    }
}
@media only screen and (min-width: 600px){
    .logo img:last-child{
        display: none;
    }
    .logo img:first-child{
        display: block; 
    }
    .menuIcon{
        display: none;
    }
    .linkedin-menu{
        display: none;
    }
}
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        
    }
    .header{
        top: 0;
        left: 0;
        transform: translate(0);
        /* height: 100vh; */
        width:100vw;
    }

    .logo{
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 100;
    }
    .logo img:first-child{
        display: none;
    }
    .navigation {
        position: absolute;
        top: 0;
        left: 0%;
        height:100vh;
        width: 100vw;
        background-color: #092628;
        display:flex;
        flex-direction:column;
        justify-content: center;
        z-index: 99;
        transform: translateX(100%);
        transition: .3s ease;
    }
    .is-active{
        transform: translateX(0);
    }
    
    .navigation nav {
        height: 55%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        
    }
    .navigation a:last-child{
        background-color: transparent;
        color: #fff;
    }
    .navigation a{
        font-family: "Rubik", sans-serif;
        font-size: 60px;
        line-height: 71px;
        letter-spacing: 0.45px;
        text-align: left;
        color: #FFFFFF;
        transition: all .3s ease;
    }
    .navigation a.active{
        color: #27BA70;
    }
    
    .main{
        padding-top: 30%;
        display: flex;
        justify-content: center;
    }
    .triangle{
        right: initial;
        left: 16px;
    }
    .linkedin-menu a{  
        position: absolute;
        bottom: 27px;
        display: flex;
    }
    .linkedin-menu p{
        font-family: "Rubik";
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.43px;
        text-transform: initial;
        font-weight: 400;
        color: #ffffff;
        
    }
    .linkedin-menu img{
        height: 18px;
        width: 18px;
        margin-bottom: 0;
        margin-right: 10px;
    }
    .main-text{
        flex-direction: column;
    }
    .text h1{
        font-size: 48px;
    }
    .main-links{
        display: none;
    }

}