
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style:"Rubik", sans-serif;
    
}
/* Light Mode */
:root {
    /* --head-back:#FAFAFA; */
    --logo-light: none;
    --logo-dark: block;
    --swiper-theme-color: #27BA70 !important;
    --color-background:#FAFAFA;
    --color-text: #0C2317DE;
    --color-primary: #000;
  }
  
  /* Dark Mode */
  :root .dark {
    /* --head-back:#092628; */
    --logo-light: block;
    --logo-dark: none;
    --color-background: #092628;
    --color-text: #FFF;
    --color-primary: #fff;
  }

.container{
    width: 100%;
    height: 100vh;
    max-width: 1776px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
    transform: translateY(0);
    /* overflow-y: hidden; */
}
.box{
    min-width: 100%;
    height: 100%;
}
.wraper{
    /* width: 100%; */
    
    padding: 0 3.75%;
    height: 100%;
    width: 92.5%;
    max-width: 1776px;
    margin: auto;
    position: relative;
    background-color: #FAFAFA;
    margin: 0 auto;
    transform: translate();
}
/* Pagiantor */
/* .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    opacity: 0.2;
} */

  .swiper-container-vertical > .swiper-pagination-bullets {
    right: 3.75% !important;
    top: 82% !important;
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
  }
  .swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 2px 0 !important;
    display: block;
  }
section{
    width: 100%;
    padding: 0 3.75%;
    height: 100vh;
    max-width: 1776px;
    margin: auto;
    position: relative;
}
.slide-1{
    background-color: #FAFAFA;
}
.slide-2{
    background-color: #092628;
}
.slide-3{
    background-color: #FAFAFA;
}
.slide-4{
    background-color: #092628;
    overflow: hidden;
}
.slide-2 .text h1{
    color: #FFFFFF;
}

.swiper-pagination{
    position: absolute;
    height: 102px;
    top: 75vh !important;
    right: 3.75% !important;
    display: flex;
    flex-direction: column;
    z-index: 10;
    
}

.swiper-pagination-bullet{
    width: 18px !important;
    height: 25.5px !important;
    margin-bottom: 10px !important;
    background: transparent !important;
    opacity: 1 !important;
    border-radius: none !important;
    pointer-events: all !important;
}
.swiper-pagination-bullet  {
    /* width: 100%;
    height: 100%; */
    stroke: #585858;
    stroke-width:20;
    fill: transparent;
    pointer-events: all !important;
}
 .swiper-pagination-bullet-active {
    fill:#27BA70 !important;
    stroke-width:4;
}

.header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
    height: auto;
    max-width: 1776px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 3.75%;
    /* margin: 0 auto; */
    z-index: 100;
    /* transform: translate(0); */
    backdrop-filter: blur(4px);
}
.menuIcon{
    position: fixed;
    top: 34px;
    right: 21px;
    width: 22px;
    height:12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    z-index: 102;
}
.menuIcon>div{
    width:100%;
    height:2px;
    background: var(--color-primary);
    border-radius: 5px;
    transition: all .3s ease;
    /* position: relative; */
}
.menuIcon>div.is-active:nth-child(1){
    transform: rotate(45deg) translate(4px,3px) ;
}
.menuIcon>div.is-active:nth-child(2){
    opacity: 0;
    transform: translateX(-10px);
}
.menuIcon>div.is-active:nth-child(3){
    transform: rotate(-45deg) translate(4px,-3px) ;
}

.navigation a{
    font-family: "Rubik",sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--color-text);
    margin-right: 5px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .3s ease;
}
.navigation a.active{
    color: #27BA70;
}
.navigation a:hover{
    color: #27BA70;
}
.navigation a:last-child{
    margin-right: 0;
    color: #fff;
    border-radius: 3px;
    background-color: #27BA70;
}
.logo {
    width: 150px;
    display: flex;
    object-fit: cover;
}
.logo img{
    width: 100%;
    margin-bottom: 0;
}
.partners .img{
    width: 117px;
    height: 47px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.main-links{
    position: absolute;
    /* left: 3.75%; */
    bottom: 27px;
}
.main-links p{
    font-family: "Rubiko";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 8px;
}

.img img{
    width: 100%;
    margin-bottom: 0;
    margin-left: -6px;
}
.linkedin a{  
    display: flex;
    text-decoration: none;
}
.linkedin p{
    font-family: "Rubik";
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: #000000BD;
    align-items: center;
    
}
.linkedin img{
    height: 18px;
    width: 18px;
    margin-bottom: 0;
    margin-right: 11px;
    opacity: .9;
}


/* Main */

/* .main{
    padding-top: 15%;

} */
.main-text{
    display: flex;
    margin-bottom: 0vh;
}
.text h1{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: 0.45px;
    color: #0C2317DE;
}

.text p{
    font-size: 16px;
    line-height: 19px;
    color: #27BA70;
    border-bottom: 1px solid #27BA70;
    transition: all .3s ease;
}
.slide-2 .text p:hover{
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
.text p:hover{
    
    color: #092628;
    border-bottom: 1px solid #092628;
}
.main-text>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    min-height: 40vh;
    align-items: flex-start;
    padding: 0;
}
.lottie{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.slide-2 .text img{
    width: 143px;
    height: 28px;
    margin-bottom: 10px;
    transform: translateX(-7px);
}
.slide-3 .text img{
    width: 135px;
    height: 24px;
    margin-bottom: 16px;
}

/* Footer */
.footer{
    color: #fff;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}
.footer>div{
    flex: 1;
}
.footer-head h1{
    font-family: "Rubik";
    font-weight: 500;
    font-size: 60px;
}
.footer-mid{
    display: flex;
}
.footer-mid>div{
    flex: 1;
    margin:0 55px 20px 0;
}
.footer-mid ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}
.footer-mid li {
    list-style: none;
    border-bottom: 1px solid #FFFFFF33;
    margin-bottom: 7px;
}
.footer-mid .contact{
    border-bottom: 1px solid transparent;
}
.footer-mid li a{
    color: #FFFFFFBD;
    font-family: "Rubik";
    font-size: 16px;
    text-align: left;
    line-height: 19px;
    
}
.footer-mid h3{
    font-family: "Rubik";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 10px;
    color: #FFFFFFBD;
}
.footer-bot{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-bot p{
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFFBD;
    margin-bottom: 30px;
}
.footer .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .right{
    transform: translate(10%,3%) scale(1.4);
    background-color: #092628;
    /* object-fit: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .right img{
    /* transform: translate(5%,10%) scale(1.2); */
    overflow-x: visible;
}
/* Hire Us */
.hireUs{
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
}
.client{
    flex: 1;
    padding-right: 2%;
}
.team{
    flex: 1;
}
.hireUsForm>form{
    display: flex;
    flex-direction: column;
}
.hireUs p{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #092628;
    border-bottom: none;
    margin-bottom: 10px;
    pointer-events: none;
}
.hireUsForm input{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #00000099;
    opacity: 1;
    padding: 10px;
    margin-bottom:15px;
    border: 1px solid #0000001F;
    border-radius: 4px;
    background-color: #FAFAFA;
}
.hireUsForm .send{
    font-family:"Rubik", sans-serif;
    font-size: 14px;
    line-height: 17px;
    width: 69px;
    height: 36px;
    background-color: #27BA70;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    box-shadow: 0 3px 6px #00000029;
}
.team{
    display: flex;
    justify-content: center;
}
.team-box{
    /* margin-left: 20%; */
    padding: 62px;
    border-left: 1px solid #AFAFAF;
}
.team-box h2{
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #092628;
}
.team-cards>div{
    display: flex;
}
.team-card h6{
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #0C231799;
}
.team-cards h5{
    font-family: "Rubik";
    font-weight: 400;
    font-size: 14px;
    color: #0C231799;
    margin-bottom: 10px;
}
.team-cards{
    margin-bottom: 65px;
}
.team-card p{
    margin-bottom: 5px;
}
.team-card .profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.team-card{
    display: flex;
    margin-bottom: 8px;
}
.contact img{
    width: 20px;
    height: 20px;
    margin-right:10px ;
}
@media only screen and (min-width: 1772px){
    .header{
        padding:30px 66.6px;
    }
    .triangle{
        right: 66.6px;
    }
}
@media only screen and (min-width: 601px){
    .logo .logoLight{
        display: var(--logo-light);
    }
    .logo .logoDark{
        display: var(--logo-dark);
    }
    .logo.logoLight{
        display: var(--logo-light);
    }
    .logo.logoDark{
        display: var(--logo-dark);
    }
    .menuIcon{
        display: none;
    }
    .linkedin-menu{
        display: none;
    }

}
@media only screen and (max-width: 600px){
    .container{
        width: 100%;
        
    }
    .header{
        top: 0;
        left: 0;
        transform: translate(0);
        /* height: 100vh; */
        width:100vw;
    }

    .logo{
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 100;
    }
    /* .logo img:first-child{
        display: none;
    } */
    .logo .logoLight{
        display: var(--logo-light);
    }
    .logo .logoDark{
        display: var(--logo-dark);
    }
    .linkedin-menu img{
        width: 18px;
        height: 18px;
    }
    .navigation {
        position: absolute;
        top: 0;
        left: 0%;
        height:100vh;
        width: 100vw;
        background-color: var(--color-background) ;
        display:flex;
        flex-direction:column;
        justify-content: center;
        z-index: 99;
        transform: translateX(100%);
        transition: .3s ease;
    }
    .is-active{
        transform: translateX(0);
    }
    
    .navigation nav {
        height: 55%;
        display:flex;
        flex-direction:column;
        justify-content: space-between;
        
    }
    .navigation a:last-child{
        background-color: transparent;
        color:  var(--color-text);
    }
    .navigation a{
        font-family: "Rubik", sans-serif;
        font-size: 60px;
        line-height: 71px;
        letter-spacing: 0.45px;
        text-align: left;
        color:  var(--color-text);
        transition: all .3s ease;
    }
    .navigation a.active{
        color: #27BA70;
    }
    
    .main{
        padding-top: 20%;
        display: flex;
        justify-content: center;
    }
    .main:last-child{
        padding-top: 30%;
        justify-content: flex-start;
    }
    .swiper-container-vertical > .swiper-pagination-bullets{
        left: 3.75%;
    }
    .linkedin-menu a{  
        position: absolute;
        bottom: 27px;
        display: flex;
        align-items: center;
    }
    .linkedin-menu p{
        font-family: "Rubik";
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.43px;
        text-transform: initial;
        font-weight: 400;
        color: var(--color-primary);        
    }
    .linkedin-menu .link-white{
        display: var(--logo-light);
    }
    .linkedin-menu .link-black{
        display: var(--logo-dark);
    }
    .linkedin-menu img{
        height: 18px !important;
        width: 18px !important;
        margin-bottom: 0 !important;
        margin-right: 10px !important;
    }
    .main-text{
        flex-direction: column;
    }
    .text h1{
        font-size: 48px;
        line-height: 57px;
        letter-spacing: 0.36px;
    }
    .main-links{
        display: none;
    }
    .footer-mid>div{
        margin: 0 10px 10px 0;
    }
    .footer{
        flex-direction: column;
    }
    .footer-head {
        display: none;
    }
    .footer .right {
        display: none;
    }
    .hireUs{
        flex-direction: column;
        padding-top: 15vh;
    }
    .team-box{
        /* margin-left: 20%; */
        padding: 0px;
        border-left: none;
        
    }
    .hireUs{
        align-items: flex-start;
        height: auto;
    }
    .team{
        margin-top: 30px;
    }
    .team-cards{
        margin: 30px 0;
    }

}